$max-width: 1250px;
$primary-color: #f6a729;
$secondary-color: #fdcd99;
$tertiary-color: #ea455f;

// panel color
$panel-primary-color: #0f1220;
$panel-secondary-color: #05060b;
$panel-blue: #0080dd;
$panel-green: #00a611;
$panel-red: #e30024;
$panel-pink: #ea455f;
$panel-background-color: #f6f6f6;
