@import "./variables";

.loginWrapper {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;

  .logo {
    position: relative;
    cursor: pointer;
  }
}

.h1Center {
  text-align: center;
  font-weight: bolder;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.h1Small {
  font-size: 2rem;
}

//form
.loginForm {
  max-width: 400px;
  width: 100%;
  max-height: 1100px;
  height: 100%;
  margin-top: 2rem;
  background-color: #fff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);

  .formDesign {
    width: 100%;
    height: 2.5rem;
    border-radius: 0 0 30px 30px;
    background-color: $secondary-color;
  }
}

.actualForm {
  padding: 2rem;
  display: flex;
  flex-direction: column;

  .createAccount {
    display: flex;
    align-items: center;

    p {
      &:nth-last-child(1) {
        color: $tertiary-color;
        cursor: pointer;
        margin-left: 0.5rem;
        border-bottom: 2px solid $tertiary-color;

        &:hover {
          transform: scale(1.1);
          transition: 0.3s ease-in-out;
          color: darken($tertiary-color, 10%);
          border-bottom: 2px solid darken($tertiary-color, 10%);
        }
      }
    }
  }
}

//login nativation between restaurant and user
.navigate {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  p {
    cursor: pointer;
    font-weight: bold;
    user-select: none;
    width: 45%;
    border-bottom: 2px solid #000;
    padding-bottom: 0.5rem;

    //current active path of user and restaurant
    &.currentUser {
      color: $primary-color;
      border-bottom: 2px solid $primary-color;
    }
    &.currentRestaurant {
      color: $tertiary-color;
      border-bottom: 2px solid $tertiary-color;
    }
  }
}

// input fields
.custom_input_field {
  p {
    margin-bottom: 0.5rem;
  }
  .input_field {
    background-color: $secondary-color;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    input {
      width: 100%;
      border: none;
      background-color: transparent;
      padding: 0.2rem;
      margin-left: 0.8rem;
      font-size: 1.1rem;
    }
    .icon {
      cursor: pointer;
    }
  }
}

.loginButton {
  background-color: $primary-color;
  border-radius: 23px;
  padding: 0.5rem 1.8rem;
  border: none;
  align-self: flex-end;
  font-weight: bold;
  cursor: pointer;
}

.signUpButton {
  align-self: center;
}

@media screen and (max-width: 320px) {
  .loginWrapper {
    margin: 1rem 0;
    .logo {
      width: 35px;
      height: 35px;
    }
  }
  .loginForm {
    .h1Center {
      font-size: 2rem;
    }
    .createAccount {
      p {
        font-size: 0.9rem;
      }
    }
  }
}
