@import "./variables";

.mostVisitedContainer {
  max-width: $max-width;
  margin: auto;

  .mostVisitedCardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;

    .mostVisitedCard {
      img {
        // width: 100%;
      }
      // .cardDesign {
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   width: 100%;
      //   height: 100%;
      // }
    }
  }
}
